In [15]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_pickle('data_loading.pkl')

In [3]:
data

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,,Mode-5,Open
1,14-11-2018 09:22,,Website,XXXXXXX,#VALUE!,Sales-Agent-10,,Mode-5,Open
2,14-11-2018 09:21,,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,,Mode-5,Open
3,14-11-2018 08:46,,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
4,14-11-2018 07:34,,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
...,...,...,...,...,...,...,...,...,...
7417,28-04-2018 09:45,9,Call,,aXXXXXXX@gmail.com,Sales-Agent-6,Mumbai,Mode-4,LOST
7418,28-04-2018 09:43,15,Call,,#VALUE!,Sales-Agent-12,Other Locations,Mode-5,LOST
7419,28-04-2018 09:20,5,Live Chat-Direct,,sXXXXXXX@gmail.com,Sales-Agent-11,Bangalore,Mode-1,Not Responding
7420,28-04-2018 08:04,21,CRM form,,YXXXXXXX@gmail.com,Sales-Agent-4,Other Locations,Mode-1,Just Enquiry
7421,28-04-2018 07:54,25,Website,,cXXXXXXX@gmail.com,Sales-Agent-3,Chennai,Mode-1,CONVERTED

### Preprocessing

In [4]:
# Removing the duplicate rows 
data.drop_duplicates(inplace = True)

In [5]:
# dropping unneccesary columns 
data.drop(['Mobile','EMAIL'], axis =1, inplace = True)

In [8]:
# Replacing blank values in data by nan
data.replace('', np.nan, inplace=True)

In [9]:
data.isnull().sum()

Created           0
Product_ID       56
Source           17
Sales_Agent      23
Location         56
Delivery_Mode     0
Status            0
dtype: int64

In [10]:
# Replacing null in product_id column by mode

In [11]:
data['Product_ID'].isnull().sum()

56

In [12]:
data['Product_ID'].value_counts()

Product_ID
18    1711
15    1518
19    1189
9      992
27     739
5      487
10     168
1      105
20     102
25      90
21      66
2       38
12      36
26      31
14      27
11      12
22       8
3        7
17       7
6        7
8        6
13       5
24       3
16       3
23       2
0        2
28       1
7        1
4        1
Name: count, dtype: int64

In [16]:
data['Product_ID'].fillna(data['Product_ID'].mode()[0], inplace=True)

In [17]:
data['Product_ID'].isnull().sum()

0

In [18]:
# converting type of product_id to int 
data['Product_ID'] = data['Product_ID'].astype(int)

In [19]:
# Replacing null value in source column by mode

In [20]:
data['Source'].isnull().sum()

17

In [21]:
data['Source'].value_counts()

Source
Call                             2547
Live Chat-Direct                 1834
Website                          1592
Live Chat-Google Organic          274
Live Chat -PPC                    249
Live Chat-Blog                    237
Customer Referral                 180
US Website                        137
Just Dial                          56
Existing Client                    51
Personal Contact                   50
Live Chat-CPC                      50
By Recommendation                  32
CRM form                           23
Existing Customer                  22
Live Chat-Google Ads               21
Campaign                           19
E-mail Campaign                    12
Live Chat-Adwords Remarketing       7
Live Chat-Quora                     2
Other                               2
SMS Campaign                        2
Live Chat-Youtube                   2
E-Mail Message                      1
Live Chat-Justdial                  1
Name: count, dtype: int64

In [22]:
data['Source'].fillna(data['Source'].mode()[0], inplace=True)

In [23]:
data['Source'].isnull().sum()

0

In [24]:
# Replacing null values in sales_agent column by mode

In [25]:
data['Sales_Agent'].isnull().sum()

23

In [26]:
data['Sales_Agent'].value_counts()

Sales_Agent
Sales-Agent-4     1500
Sales-Agent-11    1420
Sales-Agent-5     1190
Sales-Agent-9      879
Sales-Agent-3      781
Sales-Agent-7      736
Sales-Agent-2      389
Sales-Agent-12     269
Sales-Agent-6      114
Sales-Agent-8       68
Sales-Agent-10      47
Sales-Agent-1        4
Name: count, dtype: int64

In [27]:
data['Sales_Agent'].fillna(data['Sales_Agent'].mode()[0],inplace =True)

In [28]:
data['Sales_Agent'].isnull().sum()

0

In [29]:
# Replacing null values in location column by mode

In [30]:
data['Location'].isnull().sum()

56

In [31]:
data['Location'].value_counts()

Location
Other Locations    2500
Bangalore          2084
Chennai             909
Hyderabad           528
Delhi               471
Mumbai              402
Pune                142
UAE                  79
Trivandrum           58
Kolkata              55
USA                  45
UK                   41
AUSTRALIA            25
Singapore            17
Malaysia              4
EUROPE                3
Howrah                1
Name: count, dtype: int64

In [32]:
data['Location'].fillna(data['Location'].mode()[0], inplace =True)

In [33]:
data['Location'].isnull().sum()

0

In [34]:
# handled null values in data

In [35]:
data.isnull().sum()

Created          0
Product_ID       0
Source           0
Sales_Agent      0
Location         0
Delivery_Mode    0
Status           0
dtype: int64

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7420 entries, 0 to 7421
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Created        7420 non-null   object
 1   Product_ID     7420 non-null   int32
 2   Source         7420 non-null   object
 3   Sales_Agent    7420 non-null   object
 4   Location       7420 non-null   object
 5   Delivery_Mode  7420 non-null   object
 6   Status         7420 non-null   object
dtypes: int32(1), object(6)
memory usage: 434.8+ KB

### Basic Feature Engineering

In [37]:
# Extracting year,month,day,hour,minute from created column

In [38]:
data.Created.value_counts()

Created
26-09-2018 11:30    4
27-09-2018 11:00    4
10-05-2018 12:30    4
15-10-2018 10:36    4
14-09-2018 12:00    4
                   ..
29-08-2018 13:08    1
29-08-2018 15:26    1
29-08-2018 15:39    1
29-08-2018 15:54    1
28-04-2018 07:54    1
Name: count, Length: 6752, dtype: int64

In [39]:
data['Created'] = pd.to_datetime(data['Created'], format='%d-%m-%Y %H:%M', errors='coerce')

In [40]:
data['Year'] = data['Created'].dt.year        
data['Month'] = data['Created'].dt.month     
data['Day'] = data['Created'].dt.day          
data['Hour'] = data['Created'].dt.hour        
data['Minute'] = data['Created'].dt.minute

In [41]:
data.Year.value_counts()  # year column has only 2018 year so we will drop it

Year
2018    7420
Name: count, dtype: int64

In [42]:
data.drop(['Created','Year'],axis =1, inplace = True)

In [43]:
data

,Product_ID,Source,Sales_Agent,Location,Delivery_Mode,Status,Month,Day,Hour,Minute
0,18,Website,Sales-Agent-11,Other Locations,Mode-5,Open,11,14,10,5
1,18,Website,Sales-Agent-10,Other Locations,Mode-5,Open,11,14,9,22
2,18,Website,Sales-Agent-10,Other Locations,Mode-5,Open,11,14,9,21
3,18,Website,Sales-Agent-10,Other Locations,Mode-5,Open,11,14,8,46
4,18,Website,Sales-Agent-10,Other Locations,Mode-5,Open,11,14,7,34
...,...,...,...,...,...,...,...,...,...,...
7417,9,Call,Sales-Agent-6,Mumbai,Mode-4,LOST,4,28,9,45
7418,15,Call,Sales-Agent-12,Other Locations,Mode-5,LOST,4,28,9,43
7419,5,Live Chat-Direct,Sales-Agent-11,Bangalore,Mode-1,Not Responding,4,28,9,20
7420,21,CRM form,Sales-Agent-4,Other Locations,Mode-1,Just Enquiry,4,28,8,4
7421,25,Website,Sales-Agent-3,Chennai,Mode-1,CONVERTED,4,28,7,54

In [44]:
# Grouping values in status column into low potential and high potential

In [45]:
data.Status.value_counts()

Status
Junk Lead               1536
Not Responding          1129
CONVERTED                834
Just Enquiry             760
Potential                708
Long Term                646
In Progress Positive     643
In Progress Negative     626
LOST                     440
Open                      80
converted                 18
Name: count, dtype: int64

In [46]:
lead_status_mapping = {
    'CONVERTED': 'High Potential',
    'converted': 'High Potential',
    'In Progress Positive': 'High Potential',
    'Potential': 'High Potential',
    'Long Term': 'High Potential',
    'Junk Lead': 'Low Potential',
    'Not Responding': 'Low Potential',
    'Just Enquiry': 'Low Potential',
    'In Progress Negative': 'Low Potential',
    'LOST': 'Low Potential',
    'Open': 'Low Potential'
}

data['Status'] = data['Status'].map(lead_status_mapping)

In [47]:
# values after grouping 
data.Status.value_counts()

Status
Low Potential     4571
High Potential    2849
Name: count, dtype: int64

In [48]:
# Grouping values in source column into livechat, direct interaction,vdigital channel and others

In [49]:
data.Source.value_counts()

Source
Call                             2564
Live Chat-Direct                 1834
Website                          1592
Live Chat-Google Organic          274
Live Chat -PPC                    249
Live Chat-Blog                    237
Customer Referral                 180
US Website                        137
Just Dial                          56
Existing Client                    51
Personal Contact                   50
Live Chat-CPC                      50
By Recommendation                  32
CRM form                           23
Existing Customer                  22
Live Chat-Google Ads               21
Campaign                           19
E-mail Campaign                    12
Live Chat-Adwords Remarketing       7
Live Chat-Quora                     2
Other                               2
SMS Campaign                        2
Live Chat-Youtube                   2
E-Mail Message                      1
Live Chat-Justdial                  1
Name: count, dtype: int64

In [50]:
data['Source'].replace(
    ['Live Chat-Direct', 'Live Chat-Google Organic', 'Live Chat -PPC', 'Live Chat-Blog', 
     'Live Chat-CPC', 'Live Chat-Google Ads', 'Live Chat-Adwords Remarketing', 'Live Chat-Quora', 
     'Live Chat-Youtube', 'Live Chat-Justdial'],
    'Live Chat', inplace=True)

data['Source'].replace(
    ['US Website', 'Website', 'Just Dial'], 'Website', inplace=True)

data['Source'].replace(
    ['By Recommendation'], 'Customer Referral', inplace=True)

data['Source'].replace(
    ['Existing Client', 'Personal Contact', 'Live Chat-CPC', 'CRM form', 'Existing Customer'], 
    'Existing Customer', inplace=True)

data['Source'].replace(
    ['Campaign', 'E-mail Campaign', 'SMS Campaign', 'E-Mail Message'], 
    'Campaign', inplace=True)

In [51]:
# values after grouping 
data.Source.value_counts()

Source
Live Chat            2677
Call                 2564
Website              1785
Customer Referral     212
Existing Customer     146
Campaign               34
Other                   2
Name: count, dtype: int64

In [52]:
# Grouping values in location column into international, other locations and some indian locations

In [53]:
data.Location.value_counts()

Location
Other Locations    2556
Bangalore          2084
Chennai             909
Hyderabad           528
Delhi               471
Mumbai              402
Pune                142
UAE                  79
Trivandrum           58
Kolkata              55
USA                  45
UK                   41
AUSTRALIA            25
Singapore            17
Malaysia              4
EUROPE                3
Howrah                1
Name: count, dtype: int64

In [54]:
def group_by_geography(location):
    if location in ['Bangalore', 'Chennai', 'Hyderabad', 'Mumbai', 'Delhi', 'Pune', 'Kolkata', 'Trivandrum','Howrah']:
         return location 
    if location in ['UAE', 'USA', 'AUSTRALIA', 'UK', 'Singapore', 'EUROPE','Malaysia']:
        return "International"
    else:
        return "Other Locations"

data['Location'] = data['Location'].apply(group_by_geography)

In [55]:
# values after grouping 
data.Location.value_counts()

Location
Other Locations    2556
Bangalore          2084
Chennai             909
Hyderabad           528
Delhi               471
Mumbai              402
International       214
Pune                142
Trivandrum           58
Kolkata              55
Howrah                1
Name: count, dtype: int64

In [56]:
data

,Product_ID,Source,Sales_Agent,Location,Delivery_Mode,Status,Month,Day,Hour,Minute
0,18,Website,Sales-Agent-11,Other Locations,Mode-5,Low Potential,11,14,10,5
1,18,Website,Sales-Agent-10,Other Locations,Mode-5,Low Potential,11,14,9,22
2,18,Website,Sales-Agent-10,Other Locations,Mode-5,Low Potential,11,14,9,21
3,18,Website,Sales-Agent-10,Other Locations,Mode-5,Low Potential,11,14,8,46
4,18,Website,Sales-Agent-10,Other Locations,Mode-5,Low Potential,11,14,7,34
...,...,...,...,...,...,...,...,...,...,...
7417,9,Call,Sales-Agent-6,Mumbai,Mode-4,Low Potential,4,28,9,45
7418,15,Call,Sales-Agent-12,Other Locations,Mode-5,Low Potential,4,28,9,43
7419,5,Live Chat,Sales-Agent-11,Bangalore,Mode-1,Low Potential,4,28,9,20
7420,21,Existing Customer,Sales-Agent-4,Other Locations,Mode-1,Low Potential,4,28,8,4
7421,25,Website,Sales-Agent-3,Chennai,Mode-1,High Potential,4,28,7,54

In [57]:
data.to_pickle('data_preprocessing.pkl')